* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

/* ヘッダー */
.header {
  height: 65px;
  background-color: #eeeeee;
  padding: 3px 0;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  margin-left: 30px;
}

.nav-right {
  margin-right: 30px;
}

.logo {
  width: 200px;
}

.nav-btn {
  display: inline-block;
  padding: 0.6em 1.6em;
  margin-left: 15px;
  font-size: 0.9em;
  color: #999999;
  text-decoration: none;
  user-select: none;
  border: 1px #999999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.nav-btn:hover {
  color: #FFFFFF;
  background: #999999;
}

.nav-logout {
  display: inline-block;
  padding: 0.6em 1.6em;
  font-size: 0.9em;
  color: #999999;
  text-decoration: none;
  user-select: none;
}

.nav-logout:hover {
  opacity: 0.5;
}

/* フッター */
.footer {
  background-color: #999999;
  height: 40px;
  padding: 10px 0;
  margin-top: auto;
}

.copyright {
  text-align: center;
  color: #FFFFFF;
  font-size: 12px;
}

/* メイン（投稿表示） */
.main {
  display: flex;
  min-height: calc(100vh - (65px + 40px));
}

.main-content {
  min-height: 100%;
  width: calc(100vw - 21vw);
  background-color: #FFFFFF;
}

.post-wrapper {
  margin: 45px 0 60px;
}

.post {
  width: 60%;
  border-radius: 7px;
  margin: 0 auto 30px;  
}

.post-header {
  display:inline-block;
  border: 1px #999999 solid;
  border-radius: 10px;
  text-align: center;
  padding: 5px 15px;
  margin: 20px 0 15px 40px;
}

.post-image {
  margin: 0 40px 15px;
  text-align: center;
}

.post-text {
  margin: 0 40px 15px;
}

.post-footer {
  display: flex;
  justify-content: flex-end;
  margin: 0 40px 15px 0; 
}

.post-date {
  padding-right: 15px;
}

/* メイン（詳細表示のみ） */
.post-manage {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.post-btn {
  display: block;
  padding: 0.4em 1.6em;
  font-size: 1.1em;
  color: #999999;
  text-decoration: none;
  user-select: none;
  border: 1px #999999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 15px;
}
.post-btn:hover {
  color: #FFFFFF;
  background: #999999;
}

/* メイン（投稿枠の色のみ） */
.border-red {
  border: 5px #dc143c solid;
}

.border-pink {
  border: 5px #ff69b4 solid;
}

.border-orange {
  border: 5px #ff8c00 solid;
}

.border-yellow {
  border: 5px #ffcc00 solid;
}

.border-green {
  border: 5px #008000 solid;
}

.border-blue {
  border: 5px #0033CC solid;
}

.border-purple {
  border: 5px #990099 solid;
}

.border-brown {
  border: 5px #993300 solid;
}

.border-gray {
  border: 5px #696969 solid;
}

/* メイン（削除後表示） */
.success-message {
  margin-top: 50px;
  text-align: center;
}

.move-btn {
  width: 170px;
  display: block;
  padding: 0.4em 1.6em;
  font-size: 1.0em;
  color: #999999;
  text-decoration: none;
  user-select: none;
  border: 1px #999999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 30px auto 0;
}

.move-btn:hover {
  color: #FFFFFF;
  background: #999999;
}

/* サイドバー */
.side-bar {
  width: 21vw;
  background-color: #f6f6f6; 
}

.side-bar-content {
  width: 100%;
}

ul {
  margin: 35px;
}

li {
 line-height: 30px;
}

.lists-heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

li a:hover {
  text-decoration: underline;
  }

.feeling-list {
  margin-left: 10px;
}

.color-list {
  display: flex;
  align-items: center;  
}

.color-link {
  display: flex;
  align-items: center;
}

.color-img {
  width: 35px;
}

/* フォーム周り */
.form-wrapper {
  letter-spacing: 2px;
}

.page-heading {
  color: #999999;
  font-weight: lighter;
  text-align: center;
  margin: 40px 0 20px 0;
}

.field, .actions {
  margin: 20px auto 0;
  width: 400px;
}

.form-image {
  margin-top: 5px; 
}

.input-form {
  font-size: 15px;
  padding: 5px;
  margin-top: 5px;
  border: 1px #c0c0c0 solid;
  border-radius: 3px;
  width: 400px;
}

.form-text {
  height: 75px;
  font-size: 15px;
  padding: 5px;
  margin-top: 5px;
  border: 1px #c0c0c0 solid;
  border-radius: 3px;
  width: 400px;
}

.explanation {
  font-size: 14px;
}

.select-box {
  height: 25px;
  margin-top: 5px;
  border: 1px #c0c0c0 solid;
  border-radius: 3px;
}

.form-btn {
  display: inline-block;
  padding: 0.5em 1.6em;
  margin: 20px 0 40px 0;
  font-size: 1.1em;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-decoration: none;
  user-select: none;
  background: #999999;
  border: 1px #999999 solid;
  border-radius: 20px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
  width: 400px;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* エラーメッセージ */
.error-alert {
  display: flex;
  justify-content: center;
}

.error-message {
  list-style: circle;
  color: rgb(182, 48, 0);
}

.login-flash-message {
  text-align: center;
  color: rgb(182, 48, 0);
}